/**{
	margin: 0；
	padding:0;
}
#form{
	width:1000px;
	margin: 100px auto 0 auto;
}
.input{
	margin:0 0 0 250px;
}

*/
.input, .in,.out{
	background: #fff;
	border:none;
	border: 1px solid #e8e8e8;
	height:25px;
}
#left-out{
	margin:0 0 0 20px;
}
.in,.out{
	cursor:pointer;
}
.display{
	display: block;
	float:left;
	height: 40px;
	/*width: 40px;*/
	margin: 0 8px;
	background-color: #f00;
	color: #fff;
	text-align: center;
	line-height: 40px;
	cursor:pointer;
}