
div.kuang{
	background-color:#eee;
	border:1px solid #999;
	margin:20px 10px 0px 10px;
	min-width: 600px;
	height:500px;
	position: relative;
}
div.left{
	background-color:white;
	border:1px solid #999;
	width:200px;
	height:100px;
	padding:20px;
	position:absolute;
	/*left:20px;*/
	margin-top:20px;
	margin-left:20px;
}
div.left img{
	padding:10px;
	width:50%;
	float:left;
}
div.left span{
	color:#ff6699;
	font-size:18px;
	font-style:italic;	
}
div.right{
	background-color:white;
	border:1px solid #999;
	width:120px;
	height:420px;
	padding:20px;
	position:absolute;
	margin-top:0px;
	right:20px;	
}
.rightli1,
.rightli2,
.rightli3
 {
	background-color:#eee;
	border:1px solid #999;
	width:100px;
	height:80px;
	margin-top:33px;
	margin-left:10px;
}
div.center{
	background-color:white;
	border:1px solid #999;
	height:420px;
	margin-top:20px;
	margin-left:280px;
	margin-right:210px;
	padding:20px;
	overflow:hidden;
	min-width: 50px;
	
}
